@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800,900&display=swap');

/* * {
  border: red solid 0.5px;
} */

body {
  font-family: 'Muli', sans-serif;
  margin: 0 auto;
}

#background {
  position: fixed;
  margin: -25px;
  width: 120%;
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: 5s;
}

.background1 {
  background-image: url("../images/background1.jpeg");
}

.background2 {
  background-image: url("../images/background2.jpeg");
}

.background3 {
  background-image: url("../images/background3.jpeg");
}

.background4 {
  background-image: url("../images/background4.jpeg");
}

.background5 {
  background-image: url("../images/background5.jpeg");
}

.background6 {
  background-image: url("../images/background6.jpeg");
}

.headerMain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 30vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 60%, rgba(255,255,255,0) 100%);
  margin-top: -20px;
}

.headerDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 1vh;
  border-bottom: .5px solid red;
}

.headerDetails a, 
.headerDetails a:visited {
  text-decoration: none;
  position: relative;
  color:red;
}
.headerDetails a:after, 
.headerDetails a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: red;
  transition: 0.5s;
}

.headerDetails a:hover:after, 
.headerDetails a:visited:hover:after {
  width: 100%;
}

.headerDetails a.block, 
.headerDetails a:visited.block {
  display: block;
  padding: 0.5em;
}

.headerDetails a.block:hover, 
.headerDetails a:visited.block:hover {
  background: #eee;
}

.clubLogoDet {
  height: 20vh;
  margin: 5vh 2vw 0vh 5vh; 
}

h1 {
  color: hsl(0, 100%, 50%);
  font-size: 40px;
  font-weight: 900;
  text-shadow: 1px 1px;
}

.shortName {
  margin-left: 2vw;
  color: hsl(0, 100%, 50%);
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px;
}

.banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -50px;
  height: 5vh;
  background: black;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.randomDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  background: red;
}

.venue, .founded, .competitions {
  margin-left: 7vh;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}

.test {
  color: white;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 3s;
  margin-bottom: 10vh;
}
/* 
.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 100px;
} */

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* https://loading.io/spinner/ */
.lds-ripple {
  margin: 40px auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#teamsCL {
  border: white 1px solid;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  margin: 40px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-between;
}

.teaminfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  position: relative;
  transition-duration: ease 0.5s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.teaminfo:hover {
  background: hsla(0, 0%, 0%, 0.678);
  border-radius: 5px;
  color:white;
}

.teaminfo:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 350%;
  padding-left: 300%;
  margin-left: -20px!important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s
}

.teaminfo:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.clubLogo {
  height: 75px;
  width: 75px;
  transition: ease 1s;
}

.clubLogo:hover {
  height: 80px;
  width: 80px;
}

.club-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vh;
  padding: 2vh;
}

.club-details {
  font-size: .8em;
  color: blue;
}

.dailyMatch {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vh;
}

.dailyMatch > h4 {
  color: blue;
  font-size: 1em;
  padding: 2px;
}

.dailyMatch > .teamDate {
  color: black;
  font-size: .8em
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.homeTeam, .awayTeam {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 15vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 60%, rgba(255,255,255,0) 100%);
}