@import url("https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800,900&display=swap");

/* * {
  border: red solid 0.5px;
} */

body {
  font-family: "Muli", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll; 
}

#backgroundIndex {
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: 10s;
}

#backgroundDetails {
  position: fixed;
  margin: -1vh -1vw;
  width: 110%;
  height: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.background1 {
  background-image: url("../images/background1.jpeg");
}

.background2 {
  background-image: url("../images/background2.jpeg");
}

.background3 {
  background-image: url("../images/background3.jpeg");
}

.background4 {
  background-image: url("../images/background4.jpeg");
}

.background5 {
  background-image: url("../images/background5.jpeg");
}

.background6 {
  background-image: url("../images/background6.jpeg");
}

.background-details {
  background-image: url("../images/background_details.jpeg");
}

.headerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 25vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg,
  rgba(255,255,255,1) 10%,
  rgba(255,255,255,1) 30%,
  rgba(255,255,255,1) 60%,
  rgba(255,255,255,0) 100%);
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  ); */
  /* margin-top: 20px; */
}

.headerMain > h1 {
  margin: 0 auto;
}

.favoriteList {
  margin: 0 auto;
}

.favoriteList > p {
  margin: 0 auto;
  font-weight: 700;
}

.headerDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1vh;
  /* padding-bottom: 1vh; */
  /* background: rgb(255,255,255);
  background: linear-gradient(180deg, 
    rgba(255,255,255,1) 25%, 
    rgba(255,255,255,1) 50%, 
    rgba(255,255,255,1) 80%, 
    rgba(255,255,255,0) 100%); */
}

.headerDetails a,
.headerDetails a:visited {
  text-decoration: none;
  position: relative;
  color: red;
}
.headerDetails a:after,
.headerDetails a:visited:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: red;
  transition: 0.5s;
}

.headerDetails a:hover:after,
.headerDetails a:visited:hover:after {
  width: 100%;
}

.headerDetails a.block,
.headerDetails a:visited.block {
  display: block;
  padding: 0.5em;
}

.headerDetails a.block:hover,
.headerDetails a:visited.block:hover {
  background: #eee;
}

.clubLogoDet {
  height: 20vh;
  margin: 4vh 2vw 0vh 5vh;
}


h1 {
  color: hsl(0, 100%, 50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 3em;
  font-weight: 900;
  margin-top: -5vh;
}

.shortName {
  margin-left: 2vw;
  color: hsl(0, 0%, 0%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px;
}

.banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  height: 5vh;
  background: black;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.banner > .bannerScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 2vh;
  font-size: .4em;
  color: white;
  transform: translateX(100%);
  animation: bannerResults 20s linear infinite;
}

@keyframes bannerResults {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.teamBox {
  flex-wrap: nowrap;
  text-align: left;
  text-justify: center;
  width: 15vw;
  line-height: 0%;
  height: 2vh;
}

.randomDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: black;
  height: 3.5vh;
  /* animation: randomResults 20s linear infinite; */
}

@keyframes randomResults {
  0% {
    background: orange;
  }
  25% {
    background: purple;
  }
  50% {
    background: green;
  }
  75% {
    background: red;
  }
  100% {
    background: orange
  }
}

.venue,
.founded,
.competitions {
  /* margin-left: 7vh; */
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}

.randomDetails a, 
.randomDetails a:visited {
  text-decoration: none;
  position: relative;
  color: white;
}
.randomDetails a:after, 
.randomDetails a:visited:after {
  content: '';
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: white;
  transition: 0.2s;
}
.randomDetails a:hover:after, 
.randomDetails a:visited:hover:after {
  width: 100%;
}
.randomDetails a.block, 
.randomDetails a:visited.block {
  display: block;
  padding: 0.5em;
}
.randomDetails a.block:hover, 
.randomDetails a:visited.block:hover {
  background: #eee;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 3s;
  margin-bottom: 10vh;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* https://loading.io/spinner/ */
.lds-ripple {
  margin: 40px auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#teamsCL {
  border: white 1px solid;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  margin: 4vh 3vw 8vh 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-between;
}

.teaminfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  position: relative;
  transition-duration: ease 0.5s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.teaminfo:hover {
  background: hsla(0, 0%, 0%, 0.678);
  border-radius: 5px;
  color: white;
}

.teaminfo:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 350%;
  padding-left: 300%;
  margin-left: -20px !important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s;
}

.teaminfo:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.clubLogo {
  height: 75px;
  width: 75px;
  transition: ease 1s;
}

.clubLogo:hover {
  height: 80px;
  width: 80px;
}

.club-history {
  display: flex;
  flex-direction: row;
  justify-content: flex-left;
  margin: 2vh 5vh;
  padding: 2vh;
}
.clubcolumn {
  font-size: 1em;
  color: black;
  margin: 2vh;
  background: hsla(206, 19%, 87%, 0.8);
  border-radius: 5px;
}

.club-details {
  padding: 2vh;
}

#titleSquad {
  font-weight: 900;
  color: red;
  border-bottom: .5px solid black;
  margin-bottom: 20px;
}

.dailyMatch {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vh;
  border: black solid .5px;
  border-radius: 5px;
  padding: .5vh;
  cursor: pointer;
}

.dailyMatch:hover {
  background: black;
  color: white;
  border: red solid .5px;
}

.dailyMatch > h4 {
  color: red;
  font-weight: 700;
  font-size: 1em;
  padding: 1vh;
  
}

.dailyMatch > .teamDate {
  font-size: 0.8em;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.homeTeam,
.awayTeam {
  margin: 5px;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeTeam > div, 
.awayteam > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-evenly;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 23vh;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, 
  rgba(255,255,255,1) 10%, 
  rgba(255,255,255,1) 30%, 
  rgba(255,255,255,1) 60%, 
  rgba(255,255,255,0) 100%);
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  ); */
}

.teamName {
  font-weight: 800;
  color: black;
  text-align: center;
  padding-bottom: 2vh;
  transition: 3s ease;
}

#favTeam {
  color: red;
  font-weight: 900;
  text-decoration: underline;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}

.containerFooter > div {
  text-align: left;
  color: black;
}

#overlay {
  position: fixed; 
  display: none; 
  width: 50%; 
  height: 50%; 
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 3; 
  cursor: pointer; 
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#closeButton {
  z-index: 3;
  position: relative;
  height: 30px;
  width: 30px;
  left: 10px;
  top: 10px;
}

.matchDetailsOverlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  text-align: center;
  margin: -3.5vh 0vw 0vh 0vw;
  padding: 0;
  height: 100%;
  width: 100%;
}

.matchDetailsOverlay > h2 {
  color: red;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 2vh 2vw;
}

.matchGeneralInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5vh;
}

.matchGeneralInfo > div {
  padding: .4vh .4vw;
}

.competitionStage {
  text-transform: capitalize;
  color: black;
}

.gameRef {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.refTitle {
  text-decoration: underline;
  font-weight: 500;
}

.refNames {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.refNames > div {
  padding: .2vh .2vw;
}

.gameTeams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
  width: 100%;
  border-bottom: .5px solid red;
}

.matchScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0vh 0vw 0vh 0vw;
  margin: 0vh 0vw 0vh 0vw;
}

.fixtures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 1vh 0;
}

.news-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 5vh 0 5vh;
  padding: 2vh 2vh 0 2vh;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 35vw;
  height: 25vh;
  border: white solid .5px;
  border-radius: 15px 15px 0px 0px;
  margin: 0 1vh 0 1vh;
  padding: 1vh 1vh 1vh 1vh;
  font-size: 1em;
  z-index: 2;
}

.articles > div > a {
  text-decoration: none;
  color: black;
}

.articles > div > a:hover {
  color: white;
}

.articles > div {
  background: hsla(206, 19%, 87%, 0.6);
  color: black;
  border-radius: 5px;
  padding: 1vh;
}

.articles > div:hover {
  background: hsla(210, 2%, 18%, 0.9);
  color: white;
  border-radius: 5px;
  padding: 1vh;
}

.news-source {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vh 1vh 5vh;
  padding: 0 2vh 2vh 2vh;
  z-index: 1;
}

.source {
  position: relative;
  top: -0.3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35vw;
  height: 3vh;
  font-size: .5em;
  margin: 0 1vh 0 1vh;
  padding: 0 1vh 0 1vh;
  border-radius: 0px 0px 5px 5px;
  /* border: .5px solid red; */
  background: hsla(206, 19%, 87%, 0.8);
  color: black;
  z-index: 0;
}

/*
########## MAX WIDTH 800 PX ##########
*/

@media (max-width: 800px) {

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    font-family: "Muli", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll; 
  }

  .headerMain > h1 {
    font-size: 1.5em;
  }
  
  .favoriteList {
    font-size: 1em;
    margin: 0vh 0vw 2vh 0vw;
  }
  
  .favoriteList > p {
    margin: 0 auto;
    font-weight: 500;
  }
  
  .clubLogo {
    height: 30px;
    width: 30px;
  }

  .teamName {
    font-weight: 500;
    color: black;
    text-align: center;
    font-size: .15em;
    padding-bottom: 1vh;
  }

  .teaminfo {
    margin: 2px;
    padding: 2px;
    position: relative;
    transition-duration: ease 0.5s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .footer {
    height: 15vh;
    width: 100%;
  }
  
  #favTeam {
    color: red;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .containerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2vh;
  }
  
  .containerFooter > div {
    text-align: left;
    color: black;
    font-size: .5em;
  }

  #teamsCl {
    margin: 2vh 2vw;
  }

  .banner {
    display: none;
  }  
  
  .teamList {
    color: white;
    background: black;
  }

  .button {
    color: white;
    background: black;
    border-radius: 5px;
  }

  .headerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vh;
  }

  .clubLogoDet {
    height: 10vh;
    margin: 4vh .5vw .5vh 4vw;
  }

  .clubName {
    font-size: 1.5em;
  }

  .shortName {
    font-size: 1em;
    color: black;
    background: hsla(206, 19%, 87%, 0.8);
    margin: 4vh 4vw .5vh .5vw;
    padding: .5vh .5vw;
    border-radius: 5px;
  }

  .randomDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 7vh;
  }

  .founded,
  .venue,
  .venue > a,
  .competitions {
    font-size: .9em;
  }

  .club-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-left;
    height: 100%;
    margin: 1vh 1vw;
    padding: .5vh .5vw;
  }
  .clubcolumn {
    font-size: 1em;
    color: black;
    margin: 1vh 1vw;
    background: hsla(206, 19%, 87%, 0.8);
    border-radius: 5px;
  }
  
  .club-details {
    padding: 1vh 1vw;
    text-align: center;
  }

  .club-details > ul > li {
    text-transform: capitalize;
  }

  .news-section {
    flex-direction: column;
    margin: 1vh 2vw;
  }

  .articles {
    width: 100%;
    margin: 1vh 2vw;
    border-radius: 5px;
  }

  .news-source {
    display: none;
  }

  #overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    z-index: 3; 
    cursor: pointer; 
  }

  .matchDetailsOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    text-align: center;
    margin: 0vh 0vw 0vh 0vw;
    padding: 0;
    height: 100%;
    width: 100%;
  }

}

/*
########## MAX WIDTH 400 PX ##########
*/

@media (max-width: 400px) {

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    font-family: "Muli", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll; 
  }

  .headerMain > h1 {
    font-size: 1.5em;
  }
  
  .favoriteList {
    font-size: 1em;
    margin: 0vh 0vw 2vh 0vw;
  }
  
  .favoriteList > p {
    margin: 0 auto;
    font-weight: 500;
  }
  
  .clubLogo {
    height: 30px;
    width: 30px;
  }

  .teamName {
    font-weight: 500;
    color: black;
    text-align: center;
    font-size: .15em;
    padding-bottom: 1vh;
  }

  .teaminfo {
    margin: 2px;
    padding: 2px;
    position: relative;
    transition-duration: ease 0.5s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .footer {
    height: 15vh;
    width: 100%;
  }
  
  #favTeam {
    color: red;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .containerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2vh;
  }
  
  .containerFooter > div {
    text-align: left;
    color: black;
    font-size: .5em;
  }

  #teamsCl {
    margin: 2vh 2vw;
  }

  .banner {
    display: none;
  }  
  
  .teamList {
    color: white;
    background: black;
  }

  .button {
    color: white;
    background: black;
    border-radius: 5px;
  }

  .headerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vh;
  }

  .clubLogoDet {
    height: 10vh;
    margin: 4vh .5vw .5vh 4vw;
  }

  .clubName {
    font-size: 1.4em;
  }

  .shortName {
    font-size: .8em;
    color: black;
    background: hsla(206, 19%, 87%, 0.8);
    margin: 4vh 4vw .5vh .5vw;
    padding: .5vh .5vw;
    border-radius: 5px;
  }

  .randomDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 12vh;
  }

  .founded,
  .venue,
  .venue,
  .competitions {
    font-size: .8em;
    padding: 0 .2vh;
  }

  .club-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-left;
    height: 100%;
    margin: 1vh 1vw;
    padding: .5vh .5vw;
  }
  .clubcolumn {
    font-size: 1em;
    color: black;
    margin: 1vh 1vw;
    background: hsla(206, 19%, 87%, 0.8);
    border-radius: 5px;
  }
  
  .club-details {
    padding: 1vh 1vw;
    text-align: center;
  }

  .club-details > ul > li {
    text-transform: capitalize;
  }

  .news-section {
    flex-direction: column;
    margin: 1vh 2vw;
  }

  .articles {
    width: 100%;
    margin: 1vh 2vw;
    border-radius: 5px;
  }

  .news-source {
    display: none;
  }

  #overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    z-index: 3; 
    cursor: pointer; 
  }

  .matchDetailsOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    text-align: center;
    margin: 0vh 0vw 0vh 0vw;
    padding: 0;
    height: 100%;
    width: 100%;
  }

}